$black-color: #101010;
$dark-grey-color: #3e3e3e;
$light-grey-color: #bdbdbd;
$light-grey-color-2: #cfcfcf;
$white-color: #ffffff;
$gradient-1-color: rgb(213, 160, 74);
$gradient-2-color: #8c6524;
